:root {
    --c1: #FED049;
    --c2: #CFFDE1;
    --c3: #3D5656;
    --c4: #41B167;
    --c5: #52A34C;
    --c6: #56A151;

    --g1: #CFFDE1;
    --g2: #56A151;
    --g3: #52A34C;
    --g4: #41B167;
    --g5: #3D5656;
    --g6: #1D673F;
    --g7: #1A5736;

    --w1: #fff;
    --w2: #fafafa;
    --w3: #e8e8e8;
    --w4: #d9d9d9;
    --w5: #c2c2c2;

    --b1: #000;
    --b2: #1b1e23;
    --b3: #9F9A9A;

    --r1: #FF0000;
    --r2: #F14949;
    ;
    --r3: #e76666;
    --r4: #FFCDD2;
    --r5: #FFB6C1;

    --bl1: #0000FF;
    --bl2: #00EBD7;

    --sc1: rgba(113, 73, 198, .7);
    --sc2: rgba(252, 41, 71, .7);
    --sc3: rgba(254, 98, 68, .7);
    --sc4: rgba(255, 222, 185, .7);
}

.alert-container{
    position: relative;
    max-width: 300px;
    background: var(--g1);
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding: 15px;
    padding-left: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.alert-container .alert-x{
    position: absolute;
    right: 10px;
    display: block;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.alert-loader{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--g7);
    animation: alertLoader 3s ease-in forwards;
}
@keyframes alertLoader{
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}