:root {
    --c1: #FED049;
    --c2: #CFFDE1;
    --c3: #3D5656;
    --c4: #41B167;
    --c5: #52A34C;
    --c6: #56A151;

    --g1: #CFFDE1;
    --g2: #56A151;
    --g3: #52A34C;
    --g4: #41B167;
    --g5: #3D5656;
    --g6: #1D673F;
    --g7: #1A5736;

    --w1: #fff;
    --w2: #fafafa;
    --w3: #e8e8e8;
    --w4: #d9d9d9;
    --w5: #c2c2c2;

    --b1: #000;
    --b2: #1b1e23;
    --b3: #9F9A9A;

    --r1: #FF0000;
    --r2: #F14949;
    ;
    --r3: #e76666;
    --r4: #FFCDD2;
    --r5: #FFB6C1;

    --bl1: #0000FF;
    --bl2: #00EBD7;

    --sc1: rgba(113, 73, 198, .7);
    --sc2: rgba(252, 41, 71, .7);
    --sc3: rgba(254, 98, 68, .7);
    --sc4: rgba(255, 222, 185, .7);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-full{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-full > button{
    padding: 5px 20px;
    cursor: pointer;
}


/* Manual Alert */
.list-alert-container{
    position: fixed;
    bottom: 60px;
    left: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.alert-container{
    position: relative;
    width: 400px;
    background: var(--g1);
    display: none;
    justify-content: start;
    align-items: stretch;
    box-sizing: border-box;
    border-radius: 0;
    overflow: hidden;
}
.alert-container.alert-container-success{
    background: var(--w1);
    border: 1px solid var(--g2);
}
.alert-container.alert-container-success *{
    color: var(--g4);
}
.alert-container.alert-container-error{
    background: var(--w1);
    border: 1px solid var(--r2);
}
.alert-container.alert-container-error *{
    color: var(--r2);
}

.alert-container-success .alert-icon{
    background: var(--g4);
}
.alert-container-error .alert-icon{
    background: var(--r2);
}
.alert-container .alert-icon *{
    color: var(--w1);
}
.alert-container .alert-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}
.alert-container .alert-body *{
    font-size: 14px;
}
.alert-container .alert-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.alert-container .alert-x-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.alert-container .alert-x-container .alert-x{
    display: block;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.alert-loader{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    animation: alertLoader 2.5s ease-in forwards;
}
.alert-container.alert-container-success .alert-loader{
    background: var(--g4);
}
.alert-container.alert-container-error .alert-loader{
    background: var(--r2);
}
@keyframes alertLoader{
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
/* Alert end */
/* Alert oke */
.alert-ok-container{
    position: fixed;
    right: 50%;
    top: 50px;
    transform: translateX(50%);
    width: 100%;
    max-width: 350px;
    padding: 15px;
    padding-bottom: 70px;
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0,0,0,.1);
    background: var(--g1);
    display: none;
    align-items: flex-start;
    box-sizing: border-box;
}
.alert-ok-container *{
    font-size: 14px;
}
.alert-ok-container .alert-ok{
    width: min-content;
    height: min-content;
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--g3);
    color: var(--w1);
    transition: 0.3s;
    border: none;
    outline: none;
    cursor: pointer;
}
.alert-ok-container .alert-ok:hover{
    background: var(--g6);
}
/* Manual Alert end */