.auth-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--c4);
}

.card-container{
    min-width: 500px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background: var(--c3) ;
    box-shadow: 0 0 10px var(--sc1);
    padding: 20px;
}

.form-container{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.form-container > h1{
    margin-bottom: 10px;
}

.form-group{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.form-group *{
    color: var(--c4);
}

.form-group>input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 0;
    color: var(--c1);
    margin-top: 10px;
}

.form-group>label{
    font-weight: 500;
}

.form-group>input:hover{
    box-shadow: 0 0 5px var(--sc1);
}
.form-group>input:focus{
    box-shadow: 0 0 10px var(--sc1);
}

.login-button{
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: 0;
    background: var(--c4);
    color: var(--c3);
    font-weight: bold;
}
.login-button:hover{
    box-shadow: 0 0 10px var(--sc1);
    transform: scale(1.1);
    /* transition: 0.3s; */
}

.action-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
}