@import url('/css/font/poppins.css');

:root{
    --c1 : #FED049;
    --c2 : #CFFDE1;
    --c3 : #3D5656;
    --c4 : #41B167;
    --c5 : #52A34C;
    --c6 : #56A151;

    --g1 : #CFFDE1;
    --g2 : #56A151;
    --g3 : #52A34C;
    --g4 : #41B167;
    --g5 : #3D5656;
    --g6 : #1D673F;
    --g7 : #1A5736;

    --w1:#fff;
    --w2:#fafafa;
    --w3:#e8e8e8;
    --w4:#d9d9d9;
    --w5:#c2c2c2;

    --b1:#000;
    --b2:#1b1e23;
    --b3:#9F9A9A;

    --r1: #FF0000;
    --r2: #F14949;;
    --r3: #e76666;
    --r4: #FFCDD2;
    --r5: #FFB6C1;

    --bl1:#0000FF;
    --bl2:#00EBD7;

    --sc1 : rgba(113, 73, 198,.7);
    --sc2 : rgba(252, 41, 71,.7);
    --sc3 : rgba(254, 98, 68,.7);
    --sc4 : rgba(255, 222, 185,.7);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--b1);
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

a{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
a::after{
    display: block;
    content: '';
    border-bottom: solid 1px inherit;
    transform: scaleX(0);
    transition: transform 250ms ease-out;
}
a:hover::after{
    transform:scaleX(1);
}

i{
    color: inherit;
    display: inline-block;
    font-size: 20px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
li {
    padding-left: 1em;
    text-indent: -1em;
}
li:before {
    content: "+";
    margin-right: 5px;
}

.w-full {
    width: 100%;
}


/* Flexbox */
.justify-between{
    justify-content: space-between;
}
/* Flexbox end */


/* Form */
.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.form-group.row{
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.form-container * {
    font-size: 20px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group>label {
    margin-bottom: 10px;
}

.form-group>input,.form-group>.form-input {
    padding: 15px 0;
    padding-left: 20px;
    border: 2px solid var(--w4);
    border-radius: 5px;
    outline: none;
}

.invalid{
    border: 2px solid var(--r4) !important;
}
.form-group .invalid{
    border: 2px solid var(--r4);
}
label.error,p.error{
    margin-top: 8px;
    margin-left: 8px;
    font-size: 12px;
    color: var(--r2);
}
.form-group:has(input.valid) input{
    margin-left: 0;
    border: 2px solid var(--w4) !important;
}
.form-group:has(textarea.valid) textarea{
    margin-left: 0;
    border: 2px solid var(--w4) !important;
}
.form-group:has(label.error) input{
    margin-left: 0;
    border: 2px solid var(--r2);
}
.form-group:has(label.error) textarea{
    margin-left: 0;
    border: 2px solid var(--r2);
}

input:read-only{
    cursor: not-allowed;
}
/* Form End */


/* Text Decoration */
.td-none{
    text-decoration: none !important;
}
/* Text Decoration End */


/* Pointer */
.pointer{
    cursor: pointer;
}
.bg-transparent-img {
    background-image: url("/img/bg.png") !important;
    background-size: cover;
}
/* Pointer End*/



/* Button */
.btn-danger {
    width: 100%;
    outline: none;
    background: var(--w1);
    border: 1px solid var(--r4);
    color: var(--r1);
    display: flex;
    justify-content: center;
    border-radius: 6px;
    padding: 18px;
    font-size: 18px;
    transition: 0.3s;
}
.btn-danger:hover {
    background: var(--r1);
    color: var(--w1);
}
.save-btn {
    width: 100%;
    background: var(--g4);
    outline: none;
    border: none;
    color: var(--w1);
    border-radius: 6px;
    padding: 18px;
    font-size: 18px;
}

.action-button {
    width: max-content;
    background-color: var(--c4);
    color: var(--w1);
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 30px;
    box-shadow: 0 5px 35px rgba(0,0,0,.1);
    transition: 0.15s;
    cursor: pointer;
}
.action-button:hover{
    transform: scale(1.05);
}
/* End button */


/* Margin */
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-3{
    margin-bottom: 30px;
}
.mb-4{
    margin-bottom: 40px;
}
.mb-5{
    margin-bottom: 50px;
}
.mb-6{
    margin-bottom: 60px;
}
/*  */
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mt-4{
    margin-top: 40px;
}
.mt-5{
    margin-top: 50px;
}
.mt-6{
    margin-top: 60px;
}
/*  */
.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.my-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.my-6 {
    margin-top: 60px;
    margin-bottom: 60px;
}
/* Margin end */



/* Padding */
.px-3{
    padding-left: 30px;
    padding-right: 30px;
}
/* Padding end */



/* Flex */
.flex-row{
    flex-direction: row;
}
.flex-row{
    flex-direction: column;
}
/* Flex end */





/* Popup */
.popup-backdrop{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 40;
    background: rgba(255,255,255,.3);
    width: 100vw;
    height: 100vh;
}
.popup-container *{
    font-size: 16px;
}
.popup-container{
    width: 40%;
    padding: 20px;
    background: rgb(245,245,245);
    box-shadow: 0 4px 15px rgba(0,0,0,.3);
    border-radius: 10px;
    top: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.popup-alert button{
    padding: 5px 20px;
    border: none;
    outline: none;
    box-shadow: 0 4px 15px rgba(0,0,0,.3);
    border-radius: 10px;
    color: var(--w2);
    transition: 0.3s;
}
.popup-alert button:hover{
    transform: scale(1.03);
}
.popup-alert .popup-yes{
    background: green !important;
}
.popup-alert .popup-no{
    background: red !important;
}
.popup-alert{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
/* Popup end */


/* Alert */
.alert-container{
    position: fixed;
    bottom: 60px;
    left: 80px;
    width: 400px;
    background: var(--g1);
    display: flex;
    justify-content: start;
    align-items: stretch;
    box-sizing: border-box;
    border-radius: 0;
    overflow: hidden;
}
.alert-container.alert-container-success{
    background: var(--w1);
    border: 1px solid var(--g2);
}
.alert-container.alert-container-success *{
    color: var(--g4);
}
.alert-container.alert-container-error{
    background: var(--w1);
    border: 1px solid var(--r2);
}
.alert-container.alert-container-error *{
    color: var(--r2);
}

.alert-container-success .alert-icon{
    background: var(--g4);
}
.alert-container-error .alert-icon{
    background: var(--r2);
}
.alert-container .alert-icon *{
    color: var(--w1);
}
.alert-container .alert-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}
.alert-container .alert-body *{
    font-size: 14px;
}
.alert-container .alert-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.alert-container .alert-x-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.alert-container .alert-x-container .alert-x{
    display: block;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.alert-loader{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    animation: alertLoader 2.5s ease-in forwards;
}
.alert-container.alert-container-success .alert-loader{
    background: var(--g4);
}
.alert-container.alert-container-error .alert-loader{
    background: var(--r2);
}
@keyframes alertLoader{
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
/* Alert end */
/* Alert oke */
.alert-ok-container{
    position: fixed;
    right: 50%;
    top: 50px;
    transform: translateX(50%);
    width: 100%;
    max-width: 350px;
    padding: 15px;
    padding-bottom: 70px;
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0,0,0,.1);
    background: var(--g1);
    display: none;
    align-items: flex-start;
    box-sizing: border-box;
}
.alert-ok-container *{
    font-size: 14px;
}
.alert-ok-container .alert-ok{
    width: min-content;
    height: min-content;
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--g3);
    color: var(--w1);
    transition: 0.3s;
    border: none;
    outline: none;
    cursor: pointer;
}
.alert-ok-container .alert-ok:hover{
    background: var(--g6);
}
/* Alert oke end */


/* Spinner */
.spinner-container{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255,255,255,.7);
    display: none;
    align-items: center;
    justify-content: center;
}
.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
}
.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}
.spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}
.spinner::after {
    margin: 8.9px;
}
@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}
/* Spinner end */


/* Pagination */
.pagination-container *{
    font-size: 16px !important;
}
/* Pagination End */



/* Show more */
.show-more{
    cursor: pointer;
}
.show-more:hover{
    color: rgba(0,206,209,1);
}
/* Show more end */