.card-container{
    padding: 45px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 45%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--w2);
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 17px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    margin-bottom: 45px;
}
.card-img{
    height: 270px;
}
.card-body{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
}
.card-body h1{
    font-size: 24px;
    font-weight: 600;
}
.card-body h1 *{
    font-size: 24px;
    font-weight: 600;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

.form-container * {
    font-size: 20px;
}
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group>label {
    margin-bottom: 10px;
}

.form-group>input {
    padding: 15px 0;
    padding-left: 20px;
    border: 2px solid var(--w4);
    border-radius: 5px;
    outline: none;
}

.form-group.text {
    justify-content: center;
    align-items: center;
}
.form-group.button {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}



/* Action */
.action-container{
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 30px;
}
.btn-inv{
    outline: none;
    background: var(--w2);
    border: 1px solid var(--b1);
    color: var(--b1);
    display: flex;
    justify-content: center;
    border-radius: 6px;
    padding: 5px 30px;
    font-size: 18px;
    transition: 0.3s;
}
.btn-inv.edit-inv *{
    color: var(--b1);
}
.btn-inv.delete-inv{
    border: none;
    background: var(--r2);
    color: var(--w1);
}
.btn-inv.delete-inv *{
    color: var(--w1);
}
.btn-inv.edit-inv:hover{
    background: var(--b1);
    color: var(--w1);
}
.btn-inv.edit-inv:hover *{
    color: var(--w1);
}




/* Plus */
.plus-inv{
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* width: 50px; */
    /* height: 50px; */
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--g3);
    /* border-radius: 50%; */
    box-shadow: 0 3px 15px rgba(0,0,0,.1);
    transition: 0.3s;
    border-radius: 5px;
    color: var(--w1);
}
.plus-inv *{
    color: var(--w1);
}
.plus-inv:hover{
    box-shadow: 0 3px 25px rgba(0,0,0,.1);
}