.title-page{
    text-align: center;
    margin-top: 45px;
}
.title-page *{
    font-size: 32px;
}
.card-body{
    position: relative;
}
.card-body .action-container{
    position: absolute;
    width: 80%;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.edit-inv{
    border: 1px solid var(--g3);
}
.edit-inv:hover{
    background: var(--g3);
}
.edit-inv *{
    color: var(--g3);
}
.edit-inv:hover *{
    color: var(--w1);
}