nav *{
    color: var(--w1);
}
nav{
    width: 100%;
    height: 75px;
    background: var(--g4);
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-nav{
    width: 20%;
}
.title-nav *{
    font-size: 27px;
}
.nav-list{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-right: 35px;
}
.nav-list *{
    font-size: 16px;
}
.nav-item.active > a{
    text-decoration: underline !important;
}
.profile-nav{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.name-profile-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 10px;
}
.name-profile-nav h1{
    font-size: 16px;
}
.name-profile-nav p{
    font-size: 12px;
}


/* Main */
main{
    padding: 45px 105px;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: start;
}
.menu-item{
    padding: 11px 28px;
    border-radius: 15px 15px 0 0;
}
.menu-item.active{
    background-color: var(--g6);
}
.menu-item.active *{
    color: var(--w1);
}
.menu-item a{
    font-size: 16px;
}


/* Search partner */
.search-partner{
    position: relative;
    width: 100%;
    margin: 30px 0;
    display: flex;
    align-items: center;
}
.search-partner input::placeholder{
    font-size: 22px;
    color: var(--b3);
}
.search-partner input{
    width: 100%;
    padding: 20px 30px;
    font-size: 22px;
    border: 1px solid var(--b3);
    border-radius: 15px;
    outline: none;
}
.search-partner span{
    position: absolute;
    right: 30px;
    width: 35px;
    height: 35px;
    color: var(--b3);
}
.search-partner span i{
    width: 100%;
    height: 100%;
}

/* Partner Container */
.partner-container{
    width: 100%;
    min-height: 450px;
    border: 1px solid var(--b3);
    border-radius: 15px;
    padding: 30px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.partner-container.center{
    justify-content: center;
}
.partner-container p{
    font-size: 30px;
}
