.list-card{
    gap: 20px;
}
.card-header-col.img{
    width: min-content;
    margin-right: 10px;
}
.card-header-col.img img{
    width: 75px;
    height: 60px;
}
.card-price *{
    font-size: 16px;
    font-weight: 600;
    color:var(--g2);
}
.card-price{
    width: 100%;
    display: flex;
    gap: 30px;
}
.card-action{
    display: flex;
    gap: 30px;
}
.card-footer{
    margin-top: 50px;
}
.card-header-col.end .tanggal{
    font-size: 14px;
}

.card-body{
    width: 100%;
}

/* Detail */
.detail-container *{
    font-size: 20px !important;
    font-weight: 600;
}
.detail-container{
    /* width: 30%; */
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.detail-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.detail-list .green{
    color: var(--g2);
}
.detail-list .is_not_confirm{
    color: var(--w4);
}
.detail-list .is_confirm{
    background-color: var(--g3);
    color: var(--w1);
    padding: 10px;
}
.detail-list .is_reject{
    color: var(--r2);
}




/* Button */
.btn{
    cursor: pointer;
}
.btn.confirm{
    color: var(--g2);
    border: 1px solid var(--g2);
}
.btn.confirm:hover{
    background-color: var(--g2);
}
.btn.cancel{
    background-color: var(--r2);
    color:var(--w1);
    border: 1px solid var(--r2);
}
.btn.cancel:hover{
    background-color: var(--r2);
}
/* Button end */



/* Fixed */
.fixed{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 10px;
}


