.search-partner{
    width: 100%;
    padding: 30px 0;
}
.input-area{
    width: 100%;
    border-radius: 11px;
    outline: none;
    border: 1px solid var(--w4);
    padding: 10px 20px;
}
.form-group:has(.desc){
    margin: 30px 0;
}

.input-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.input-col{
    width: 100%;
}
.input-row input{
    width: 100%;
}

.my-3{
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-5{
    margin-top: 50px;
    margin-bottom: 50px;
}
.button-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}