/* Search partner */
.search-partner {
    position: relative;
    width: 100%;
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.search-partner input::placeholder {
    font-size: 22px;
    color: var(--b3);
}

.search-partner input {
    width: 100%;
    padding: 20px 30px;
    font-size: 22px;
    border: 1px solid var(--b3);
    border-radius: 15px;
    outline: none;
}

.search-partner span {
    position: absolute;
    right: 20px;
    width: 35px;
    font-size: 35px;
    color: var(--b3);
}

.search-partner span i {
    width: 100%;
    height: 100%;
}

/* Partner Container */
.partner-container {
    width: 100%;
    min-height: 400px;
    border: 1px solid var(--b3);
    border-radius: 15px;
    padding: 30px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.partner-container:has(.list-card){
    justify-content: start;
}

.partner-container p {
    font-size: 30px;
}


.partner-add *{
    color: var(--w1);
}
.partner-add{
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* padding: 10px; */
    background: var(--g3);
}
.partner-add i{
    display: block;
    font-size: 30px;
}


/* List Card */
.list-card{
    position: relative;
    width: 100%;
    padding: 30px 15px 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-shadow: 3px 4px 15px rgba(0,0,0,.25);
    border-radius: 20px;
}
.card-header-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-header-col{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card-header-col.end{
    align-items: end;
}
.card-header-col h1{
    font-size: 26px;
    font-weight: 600;
}
.card-header-col p{
    font-size: 14px;
    font-weight: 600;
    color: var(--b3);
}
.card-header-col.end h1{
    font-size: 22px;
    font-weight: 600;
}
.card-header-col.end p{
    font-size: 12px;
    font-weight: 600;
}

.card-body{
    margin-top: 10px;
    margin-bottom: 25px;
}
.card-body p{
    font-size: 14px;
}

.card-footer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.card-footer h3{
    font-weight: 400;
    font-size: 12px;
}
.card-footer p{
    font-size: 8px;
    color: var(--b3);
}

.card-action{
    position: absolute;
    right: 15px;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 15px;
}
/* Keterangan */
.card-information{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.keterangan-partner *{
    font-size: 16px !important;
    font-weight: 500;
}
.keterangan-partner{
    display: flex;
    flex-direction: column;
}
.keterangan-list{
    display: flex;
    flex-wrap: wrap;
}


/* Button */
.btn{
    padding: 7px 35px;
    border-radius: 5px;
    border: 1px solid var(--b3);
    background: var(--w2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    transition: 0.3s;
}
.btn:hover{
    text-decoration: none !important;
    background: var(--b1);
    border: 1px solid var(--w1);
    color: var(--w1) !important;
}
.btn:hover *{
    text-decoration: none !important;
    color: var(--w1) !important;
}
.btn *{
    font-size: 14px;
    font-weight: 600;
}

.btn.delete{
    background: var(--r2);
    color: var(--w1);
    padding: 7px 37px;
    outline: none;
    border: 1px solid var(--r2);
}
.btn.delete:hover{
    background: var(--w2);
    border: 1px solid var(--r2);
    color: var(--r2) !important;
}
.btn.delete:hover *{
    text-decoration: none !important;
    color: var(--r2) !important;
}
.btn.delete *{
    color: var(--w1);
    font-size: 14px;
    font-weight: 600;
}
.create-btn{
    padding: 18px 123px;
    background-color: var(--g3) !important;
    color: var(--w1);
}

i{
    display: inline-block;
    font-size: 20px !important;
}



/* Status */
.status {
    padding: 10px 30px;
    border-radius: 10px;
    color: var(--w1);
}

.status.is_confirm {
    background-color: var(--g2);
}

.status.is_reject {
    background-color: var(--r2);
}
