.card-container{
    padding-top: 30px;
}
.card-header-row{
    justify-content: start;
}
.card-header-row *{
    text-align: left;
}
.card-header-col{
    align-items: start;
}
.card-body{
    text-align: left;
}
.tawar{
    padding: 10px 30px;
    background-color: var(--g3);
    box-shadow: 0 4px 15px rgba(0,0,0,.25);
    color: var(--w1);
    border-radius: 10px;
}
.tawar:hover {
    text-decoration: none !important;
}