.card-header-col.img{
    width: min-content;
    margin-right: 10px;
}
.card-header-col.img img{
    width: 75px;
    height: 60px;
}
.card-price *{
    font-size: 16px;
    font-weight: 600;
    color:var(--g2);
}
.card-price{
    width: 100%;
    display: flex;
    gap: 30px;
}
.card-action{
    display: flex;
    gap: 30px;
}
.card-footer{
    margin-top: 50px;
}
.card-header-col.end .tanggal{
    font-size: 14px;
}


/* Button */
.btn{
    cursor: pointer;
}
.btn.confirm{
    color: var(--g2);
    border: 1px solid var(--g2);
}
.btn.confirm:hover{
    background-color: var(--g2);
}
.btn.cancel{
    background-color: var(--r2);
    color:var(--w1);
    border: 1px solid var(--r2);
}
.btn.cancel:hover{
    background-color: var(--w2);
    color: var(--r2) !important;
}
.btn.cancel:hover *{
    color: var(--r2) !important;
}
.btn.reject{
    background-color: var(--r2);
    color:var(--w1);
    border: 1px solid var(--r2);
}
.btn.reject:hover{
    background-color: var(--w2);
    color: var(--r2) !important;
}
.btn.reject:hover *{
    color: var(--r2) !important;
}
/* Button end */



/* Fixed */
.fixed{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 10px;
}